.gform-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(228, 144, 203);
    border-radius:5px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* height: 100vh; */
}

.box{
    background-color: rgb(249, 240, 246);
    width:500px;
    height:100px;
    margin:10px;
    border-radius: 8px;
    position: relative;
}

.first{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px ;
    margin-top: 19px;
}

span.email{
    position:absolute;
    font-size: 18px;
   left:20px;
   top:20px;
    
}
p.required{
    font-size: 19px;
    color: rgb(225, 3, 3);
    margin-right: 220px;
}
.box1{
    height: 160px;
}

.box2{
    height: 100px;
}

input.email1{
    display: inline-block;
    position: absolute;
    width: 80%;
    left:40px;
    top:55px;
    background-color:rgba(249, 240, 246, 0.821) ;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.095);
    font-size: 16px;
    text-transform: lowercase;
    text-decoration: none;
    outline: none;
    color:black;
    }

    input.email1:hover{
        border-bottom: 2px solid rgb(228, 144, 203);
    }

.header{
    width:500px;
    height:100px;
    background-color: BLACK;
    color: rgb(249, 240, 246);
    text-align: center;
    font-size: 70px;
    line-height: 90px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid white;
    }

.box4{
    height: 180px;
    padding:10px ;
}

.inputradio{
    display: inline;
   
    margin-left:40px ;
    margin-top: 25px;
    padding: 5px;
    width: 20px;
}

label.email{
    position:absolute;
    font-size: 18px;
   left:20px;
   top:20px;
    margin-bottom: 5px;
}

button.btn{
    background-color: rgb(227, 13, 156);
    color:white;
    border-radius: 5px;
    /* margin: 5px 5px 5px; */
   position: relative;
   right:180px;
   width:140px;
   height: 45px;
}

button.btn1{
    position: relative;
    left:130px;
    bottom:50px;
    font-size: 16px;
    color:rgb(194, 8, 156);
    background-color:rgb(228, 144, 203);
}

.para{
    font-size: 14px;
    position:relative;
    bottom:40px;
    right:100px;
}

.para1{
    position: relative;
    font-size: 12px;
    bottom:30px;
}

footer{
    font-size:25px;
    position: relative;
    bottom:10px;
}

.option{
    position: relative;
    top:30px;
    left:50px;
    width: 80%;
    height: 30px;
    background-color:rgb(249, 240, 246) ;
    border:1px solid rgb(249, 240, 246);
}
span.symbol{
    color:rgb(225,3,3);
    font-size: 20px;
    padding: 5px;
}
.checkbox{
    display: inline;
    position: relative;
    top:40px;
    right:20px;
    margin: 3px;
}
.spancheck{
    position: relative;
    top:40px;
    right:20px;
    padding: 5px;

}



